{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="container">
        <h1>Bienvenido al Sistema de Seguimiento</h1>
        <img src="{% static 'img/bienvenida.png' %}" alt="Imagen de Bienvenida">
        <p>
            Este sistema le permitirá gestionar reuniones, intervenciones y comentarios de manera sencilla y organizada. 
            Explore las funciones, participe activamente y mantenga toda la información centralizada.
        </p>
    </div>
{% endblock %}