{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="container">
        <h1>Bienvenido al Sistema de Seguimiento de Tareas por area</h1>
        <img src="{% static 'img/bienvenida.png' %}" alt="Imagen de Bienvenida">
        <p>
            Este sistema te permite gestionar y hacer seguimiento de tus tareas de manera eficiente.
            Navega por las diferentes secciones utilizando el menú para acceder a tus actividades, informes, gráficos, documentos y proyectos.
            Si tienes alguna pregunta o necesitas ayuda, no dudes en contactar con el administrador del sistema.
        </p>
    </div>
{% endblock %}